Repository BF-FrontEnd-class-2025/group-4-cat-advice, pull requests merged in 2025-03, with the labels that each got.

#3 created design
  package-lock.json
  planning/cat-advice-design.png
  planning/design.md
Labels: md, planning

#8 developed html and css structure
  css/index.css
  index.html
  planning/constraints.md
  src/white-cat-sunglasses.jpg
Labels: css, html

#9 created test and js
  index.html
  planning/design.md
  planning/development-strategy.md
  src/index.js
  src/utils/isEven.js
  src/utils/isEven.test.js
Labels: js, development
